{% extends "base.html" %}
<!--{% if envoi %}Votre message a bien été envoyé !{% endif %}

<form action="{% url "login.views.profsignup" %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>-->
{% block menu %}				
<li><a href="#" data-toggle="modal" data-target="#modal1" class="btn btn-blue">LOGIN</a></li>
{% endblock %}
{% block header %} 
<div class="body"></div>
<div class="center-page">
<form action="{% url "login.views.profsignup" %}" method="post" class="popup-form" >
                     {% csrf_token %}
<div class="btn-group btn-group-justified" data-toggle="buttons" style=" opacity: .74" >  		
				<label class="btn btn-primary {% if  form.type.value == 'Particulier' %} active {% endif %}" >
        			<input type="radio" name="type" id="Particulier" autocomplete="off" checked value="Particulier">Particulier
        		</label>

        		<label class="btn btn-primary {% if  form.type.value == 'Société' %} active {% endif %}">
        			<input type="radio" name="type" id="Société" autocomplete="off" value="Société">Société
        		</label>
        	</div>
			<h6 style="color:#e74c3c">{{ form.nom.errors }}</h6>
			<input type="text" class="form-control form-white" placeholder="Nom" name="nom" style="height: 20px"} value={{ form.nom.value }}>		
			<h6 style="color:#e74c3c">{{ form.prenom.errors }}</h6>
			<input type="text" class="form-control form-white" placeholder="prenom" name="prenom" style="height: 20px" value={{ form.prenom.value }}>
			<h6 style="color:#e74c3c">{{ form.login.errors }}</h6>
			<input type="text" class="form-control form-white" placeholder="login" name="login" style="height: 20px" value={{ form.login.value }}>
			<h6 style="color:#e74c3c">{{ form.email.errors }}</h6>
			<input type="email" class="form-control form-white" placeholder="Adress Email" name="email" style="height: 20px" value={{ form.email.value }}>
			<h6 style="color:#e74c3c">{{ form.mdp.errors }}</h6>
			<input type="password" class="form-control form-white" placeholder="Mot de Passe" name="mdp" style="height: 20px" value={{ form.mdp.value }}>
			<h6 style="color:#e74c3c">{{ form.spec.errors }}</h6>
                    <div class="dropdown" id="spec">
						<button  class="form-control form-white dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Catégorie
						</button>
						
                        <ul class="dropdown-menu animated fadeIn scrollable-menu" role="select" aria-labelledby="dLabel" >
							{%for cat in spec%}
							<li class="animated lightSpeedIn"><a href="#"  onclick="myFunction({{cat.id}},'sel')">{{cat.categorie}}</a></li>
						    {% endfor %}
						</ul>
                        
					</div>
                    
                       <span id="replace_me">     
                    
												
							{% include "ajax1.html" %}
						
					</span>
             
                     
   
					<input  id="sel"  type="hidden">
					 <input  id="prof"  name="spec"  type="hidden">
					<button type="submit" class="btn btn-submit" style=" opacity: .8">Submit</button>
</form>
</div>

{% endblock %}
{% block body %}{% endblock %}
{% block footer %}{% endblock %}