{% extends "base2.html" %}
{% load static %}
{% block contenu %}
<section class="content">
        <div class="box box-success direct-chat direct-chat-success" style="width:100%;">
                <div class="box-header with-border">
                  <h3 class="box-title">Direct Chat</h3>
                  <div class="box-tools pull-right">


                  </div>
                </div><!-- /.box-header -->
                <div class="box-body" ">
                  <!-- Conversations are loaded here -->
                  <div class="direct-chat-messages"style="height:100%">
                    <!-- Message. Default to the left -->

                    {% for q in query %}
                        {% if id == q.prop_id %}
                    <div class="direct-chat-msg">
                      <div class="direct-chat-info clearfix">
                        <span class="direct-chat-name pull-left">{{ q.prop.username }}</span>
                        <span class="direct-chat-timestamp pull-right">{{ q.date }}</span>
                      </div><!-- /.direct-chat-info -->
                      <img class="direct-chat-img" src="{%static 'img/profile/user1-128x128.jpg'%}" alt="message user image"><!-- /.direct-chat-img -->
                      <div class="direct-chat-text">
                        {{ q.contenu }}
                      </div><!-- /.direct-chat-text -->
                    </div><!-- /.direct-chat-msg -->
                    {% else %}

                    <!-- Message to the right -->
                    <div class="direct-chat-msg right">
                      <div class="direct-chat-info clearfix">
                        <span class="direct-chat-name pull-right">{{ q.prop.username }}</span>
                        <span class="direct-chat-timestamp pull-left">{{ q.date }}</span>
                      </div><!-- /.direct-chat-info -->
                      <img class="direct-chat-img" src="{%static 'img/profile/user1-128x128.jpg'%}" alt="message user image"><!-- /.direct-chat-img -->
                      <div class="direct-chat-text">
                        {{ q.contenu }}
                      </div><!-- /.direct-chat-text -->
                    </div><!-- /.direct-chat-msg -->
                  <!--/.direct-chat-messages-->
                        {% endif %}
                    {% endfor %}
                  </div>


                  <!-- Contacts are loaded here -->
                  <!-- /.direct-chat-pane -->
                </div><!-- /.box-body -->
                <div class="box-footer">
                  <form action="" method="post">
                      {% csrf_token %}
                    <div class="input-group">
                      <input type="text"  placeholder="Type Message ..." class="form-control" name="contenu"/>

                      <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary btn-flat">Send</button>

                      </span>
                    </div>
                  </form>
                </div><!-- /.box-footer-->
              </div>
    </section><!--/.direct-chat -->
{% endblock %}