{% extends "base2.html" %}
{% load static %}
{% block contenu %}

        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
           
          
          </h1>
          
        </section>

        <!-- Main content -->
        <section class="content">

          <!-- Default box -->
          <div class="box" >
            <form action='{% url "login.views.recherche" %}' method="GET">
            <div class="box-header with-border">
              <h3 class="box-title"> Démarrer la recherche</h3>
              <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-plus"></i></button>
              </div>
            </div>
            <div class="box-body">
             
          <div class="row">
            <div class="col-md-12">
              <div class="box box-solid">
               
                <div class="box-body">
                  <div class="box-group" id="accordion">
                    <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                    <div class="panel box box-primary ">
                      <div class="box-header with-border">
                        <h4 class="box-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            
                            Gouvernorat
                          </a>
                        </h4>
                      </div>
                      <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="box-body">
                         <span id="click_me"><select   id="sel" class="selectpicker"   data-style="btn-info" data-live-search="true"  title="gouvernorat"  class="dropup" name="gouv">
                        {%for del in gouve%}
							<option data-icon="fa fa-flag" value="{{del.id}}">{{del.nomg}}</option>
                        {%endfor%}
					
                            </select>
                    </span>
                        </div>
                      </div>
                    </div>
                    <div class="panel box box-danger">
                      <div class="box-header with-border">
                        <h4 class="box-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            	Délégation
                          </a>
                        </h4>
                      </div>
                      <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="box-body">
                       
          
            <select  id="replace_me" class="selectpicker" data-style="btn-info" data-live-search="true"  title="délegation"  class="dropup" name="dele" >
           
    {% include "ajax.html" %}
            </select>
                        </div>
                      </div>
                    </div>
                    <div class="panel box box-success">
                      <div class="box-header with-border">
                        <h4 class="box-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            Specialité
                          </a>
                        </h4>
                      </div>
                      <div id="collapseThree" class="panel-collapse collapse">
                        <div class="box-body">
                           <div class="form-group form-inline">
                           
                           <span id="click_me1"><select   id="sel1" class="selectpicker"   data-style="btn-info" data-live-search="true"   title="catégorie"  class="dropup" name="spec">
                        {%for cat in spec%}
							<option data-icon="fa fa-circle-o" value="{{cat.id}}">{{cat.categorie}}</option>
                        {%endfor%}
                    
                            </select></span>
                            
                            <select  id="replace_me1" class="selectpicker" data-style="btn-info" data-live-search="true"  title="Spécialité"  class="dropup" name="s_spec" >
           
                            {% include "ajax2.html" %}
                            </select>
                            
                        </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
       
            </div><!-- /.col -->
           
          </div><!-- /.row -->
          <!-- END ACCORDION & CAROUSEL-->
            </div><!-- /.box-body -->
            <div class="box-footer">
            <button type="submit" class="btn btn-success  btn-md">Démarrer la recherche</button>
            </div><!-- /.box-footer-->
            </form>
          </div><!-- /.box -->    
       

{%if object_list %}
       <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title"> Résultat de recherche</h3>
              <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
             
              </div>
            </div>
            <div class="box-body">
             {% for obj in object_list %}
         <div class="col-md-4"> <!-- /.widget-user -->
              <!-- Widget: user widget style 1 -->
              <div class="box box-widget widget-user">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-aqua-active">
                  <h3 class="widget-user-username">{{obj.user.first_name}} {{obj.user.last_name}}</h3>
                  <h5 class="widget-user-desc">{{obj.spec.s_categorie}}</h5>
                  <small class="widget-user-desc">40%</small>
                   <div class="progress progress-xs" style="width: 30%">
                            <div class="progress-bar progress-bar-aqua" style="width: 40%" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                            
                            </div>
                          </div>
                </div>
                <div class="widget-user-image">
                  <img class="img-circle" src="{%static 'img/profile/user1-128x128.jpg'%}" alt="User Avatar"> 
                </div>
                <div class="box-footer">
                  <div class="row">
                   
                    <div class="team text-center">
                      <div class="description-block">
                        <a href="{{ obj.get_absolute_url }}" > <button type="button"  class="btn btn-info ">Visiter profile</button></a>
                      </div><!-- /.description-block -->
                    </div><!-- /.col -->
                   
                  </div><!-- /.row -->
                </div>
              </div><!-- /.widget-user -->
            </div>
           {%endfor%}
            </div><!-- /.box-body -->
            <div class="box-footer">
           <center>
           <div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a  class="btn btn-success" href="?{{ page_request_var }}={{ object_list.previous_page_number }}&gouv={{ request.GET.gouv }}&dele={{ request.GET.dele }}&spec={{ request.GET.spec }}&s_spec={{ request.GET.s_spec }}"><i class="fa fa-angle-double-left" ></i></a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a class="btn btn-success" href="?{{ page_request_var }}={{ object_list.next_page_number }}&gouv={{ request.GET.gouv }}&dele={{ request.GET.dele }}&spec={{ request.GET.spec }}&s_spec={{ request.GET.s_spec }}"><i class="fa fa-angle-double-right" ></i></a>
        {% endif %}
    </span>
</div></center>
            </div><!-- /.box-footer-->
    
          </div>
          {% endif %}
        </section><!-- /.content -->
      
     
{% endblock %}